.title{
  text-align: left;
  font-size: 70px;
  margin-left:450px;
  margin-top:230px;
  position:static;
}

.introText{
  padding-top: 20px;
  width: 600px;
  text-align: left;
  font-size: 25px;
  margin-left:450px;
  white-space: wrap;
}

.pink-highlight {
  background: #ea80ed; /* Default color, all browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.blue-highlight {
  background: #3fe0c5; /* Default color, all browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.orange-highlight {
  background: #fca61c; /* Default color, all browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

a {
  margin-right: 70px;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  color: white;
}

.HomePage{
background: rgb(255,254,238);
background: linear-gradient(163deg, rgba(255,254,238,1) 8%, rgba(255,183,183,1) 43%, rgba(255,138,171,1) 69%, rgba(219,103,187,1) 87%, rgba(189,64,154,1) 97%);
}