.content-container{
  margin-bottom: 1em;
  width: 90%;
 }

.section-container{
  border-style: solid;
  border-color: red;
  color:white;
  min-height:700px;
}

.section-container-dark{
  padding-left: 45%;
  border-style: solid;
  border-color: green;
  color:black;
  list-style-type: circle;
  text-align: left;
  min-height:700px;
}

.section-title{
  text-align: inherit;
  font-size: 4em;
  margin-top: 3em;
}

.section-text{
  border-style: solid;
  border-color: cyan;
  width: auto;
  height:auto;
  color:inherit;
  padding-top:1em;
  width: 55%;
  text-align: inherit;
  font-size: 1.4em;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

.section-text-dark{
  border-style: solid;
  border-color: pink;
  width: auto;
  height:auto;
  color:inherit;
  padding-top:1em;
  text-align: inherit;
  font-size: 1.4em;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

.pink-highlight {
  background: #ea80ed; /* Default color, all browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.blue-highlight {
  background: #3fe0c5; /* Default color, all browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.orange-highlight {
  background: #fca61c; /* Default color, all browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 5px;
}

.icon{
  width:100%;
  display:flex;
  justify-content: space-around;
}

.icon a{
  color: pink;
}

.play-container{
  border-style: solid;
  border-color: white;
  color:white;
  min-height:700px;
  text-align:center;
  padding-top: 3em;
}

.play-game{
  height:550px;
  background: rgba(0,0,0,0.5);
}

.play-text{
  border-style: solid;
  border-color: orange;
  color:black;
  padding-top:1em;
  text-align: inherit;
  font-size: 1.2em;
}