.navbar {
  width: 100%;
  padding-top:22px;
  padding-bottom:16px;
  position: fixed;
  display:flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
}

.navbar li {
  margin-right: 30px;
  margin-left: 30px;
  color:white;
}

.navbar a {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.3em;
  position: relative;
  list-style-type: none;
  text-decoration: none;
  color: pink;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after {
  width: 100%;
  left: 0;
}